/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --green: #445D48;
    --navy: #001524;
    --beige: #D6CC99;
    --white: #FDE5D4;
}

body{
    display: flex;
    flex-direction: column;
    /* min-width: 100vw; */
    font-family: 'Source Code Pro';
    background-color: var(--green);
    transition: opacity 0.5s ease;
}

.header{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: var(--green);
    max-width: 100%;
}

.header img{
    height: max(70px);
    width: auto;
}

#logo {
    margin-right: auto;
    margin-left: 25px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links button{
    padding: min(5px 12px);
    font-size: max(1.5rem);
    height: 100%;
    border: 0;
    transition: 0.5s;
    background-color: var(--green);
    color: var(--white);
    border-bottom: 5px solid var(--green);
}

.links button:hover{
    cursor: pointer;
    transition: 0.5s;
    color: var(--navy);
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-top: 0;
    gap: 35px;
    background-color: var(--beige);
}

.main-page h1 {
    font-size: clamp(2rem, 10rem, 11rem);
    color: var(--navy);
}

.main-page p {
    font-style: italic;
    font-size: 2rem;
    color: var(--navy);
}

.why-marketing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--navy);
    padding: 20px;
    text-align: center;
    gap: 20px;
}

.why-marketing h2,
.why-ipm h2{
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
    color: var(--beige);
    margin-top: 25px;
}

.why-marketing li,
.why-ipm li {
    font-size: 1.9rem;
    text-wrap: wrap;
    color: var(--white);
    line-height: 50px;
}

.why-marketing img {
    max-width: 320px;
}

.why-ipm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--beige);
    padding: 20px;
    gap: 15px;
}

.why-ipm h2 {
    color: var(--navy);
    font-size: 2.7rem;
}

.why-ipm li {
    color: var(--navy);
}

.why-ipm img {
    height: 80px;
    width: 80px;
    position: relative;
    z-index: 0;
}

.why-ipm-button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 5vh;
}

.why-ipm button {
    font-style: italic;
    font-size: 1.3rem;
    height: 50px;
    width: auto;
    text-decoration: none;
    color: var(--navy);
    background-color: var(--beige);
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--navy);
    transition: 0.5s;
}

.why-ipm button:hover {
    background-color: var(--navy);
    color: var(--beige);
    transition: 0.5s;
}

.what-we-offer {
    display: flex;
    flex-direction: column;
    background-color: var(--navy);
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 2vh;
}

.what-we-offer h2 {
    color: var(--white);
    font-size: 3rem;
}

.offers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: min(50px);
    gap: max(50px);
}

.offers img {
    height: 120px;
    width: auto;
    transition: 0.5s ease;
}

.offers img:hover {
    height: 140px;
    width: auto;
    transition: 0.5s ease;
}

.offers p {
    color: var(--white);
    font-size: 1.5rem;
}

.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    color: var(--white);
    font-size: 1.2rem;
    gap: 8px;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: var(--white);
}

footer img {
    height: 40px;
    width: auto;
}

/*---------------STYLING PORTFOLIO-------------*/

.main-page-portfolio {
    display: flex;
    background-color: var(--beige);
    height: 100vh;
    gap: 50px;
    justify-content: center;
    align-items: center;
    font-family: 'Source Code Pro';

}

.photo-edits-img,
.video-edits-img {
    position: relative;
    overflow: hidden;
}

.photo-edits img,
.video-edits img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: 0.5s ease;
}

.photo-edits-text ,
.video-edits-text {
    padding: 10px;
    font-style: italic;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    color: var(--navy);
    font-size: 3rem;
    margin-bottom: 8px;
}

.links button.active {
    border-bottom: 5px solid var(--navy);
}

.photo-edits-img img:hover,
.video-edits-img img:hover {
    transform: scale(1.3);
    filter: grayscale(0%);
}

/*-----------------ABOUT PAGE--------------------*/

.main-page-about {
    display: flex;
    flex-direction: column;
    background-color: var(--navy);
    padding: 25px;
}

.about-text-and-image {
    display: flex;
}

.main-page-about h3{
    color: var(--beige);
    font-size: 2.2em;
    font-style: italic;
}

.main-page-about p{
    color: var(--white);
    font-size: 1.5em;
}

.about-text-all {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5vh;
}

.main-page-about li {
    color: var(--white);
    font-size: 1.5em;
    list-style-type: circle;
    padding: 5px;
}

.about-img img{
    height: 60vh;
    margin-top: 5vh;
    border-radius: 15% 0 25% 0;
}

.about-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: 50px;
}

.ready-to-start {
    background-color: var(--navy);
    border-radius: 25px;
    display: flex;
    height: 10vh;
    width: 50vw;
    padding: 15px;
}

.ready-to-start h3{
    color: var(--white);
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
}

.ready-to-start p{
    color: var(--white);
    font-size: 1.2em;
}

.ready-to-start-text {
    display: flex;
    flex-direction: column;
}

.contact-us-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-button button{
    background-color: var(--navy);
    color: var(--white);
    font-size: 1.5em;
    height: 70px;
    width: 200px;
    border-radius: 25px;
    transition: 0.5s;
    border: 2px solid var(--white);
}

.contact-us-button button:hover{
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid var(--navy);
    background-color: var(--white);
    color: var(--navy);
}


/*-------------CONTACT PAGE-------------*/

.main-page-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    gap: 50px;
    height: 60vh;
}

.main-page-contact h1 {
    position: absolute;
    top: 110px;
    text-align: center;
    color: var(--green);
    font-size: 3em;
}

.main-page-contact p {
    text-align: center;
    color: var(--white);
    font-size: 1.5em;
}

.main-page-contact img {
    height: 50px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
}

.contact-email,
.contact-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--navy);
    height: 30vh;
    width: 30vw;
    border-radius: 25% 0 25% 0;
    transition: 0.5s;
    box-shadow: 5px 10px;
}

.contact-email:hover,
.contact-social:hover {
    transition: 0.5s;
    border-radius: 0 25% 0 25%;
    box-shadow: 10px 5px;
}

.main-page-contact a {
    text-decoration: none;
    color: var(--green);
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 2vh;
}

.contact-social-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vh;
}

.contact-social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vh;
}

/*MEDIA QUERY TEST*/
@media (max-width: 600px){
    .main-page h1 {
        font-size: 5rem;
    }
    .offers {
        flex-direction: column;
    }
}